{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'home/css/adminStyle.css' %}" />
    <script
      src="https://kit.fontawesome.com/e367819fd5.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>Admin bKash</title>
  </head>

  <body>
    {% if NAME %}
    <div class="wrapper">
      <!--sidebar content-->
      <nav id="sidebar">
        <div class="sidebar-header">
          <!--<h3>BOOTSTRAP SIDEBAR</h3>-->
          <div class="py-4 px-2 mb-4">
            <div class="media d-flex align-items-center justify-content-center">
              <i
                class="fas fa-user-secret fa-6x d-inline-block text-right px-2"
                style="color: rgb(178, 177, 231)"
              ></i>
              <div class="media-body">
                <h5 class="m-0">{{NAME}}</h5>
                <p class="font-weight-normal text-white mb-0">Admin</p>
              </div>
            </div>
          </div>
        </div>

        <ul class="list-unstyled components">
          <li>
            <a
              href="#balanceSubmenu"
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle"
              >Click For Balance</a
            >
            <ul class="collapse list-unstyled" id="balanceSubmenu">
              <li class="text-center">
                <p
                  class="pb-1 font-weight-bold"
                  style="color: rgb(235, 140, 16)"
                >
                  {{BALANCE}} <i class="fas fa-dollar-sign"></i>
                </p>
              </li>
            </ul>
          </li>
          <li>
            <a href="{% url 'home:home' %}">Home</a>
          </li>
          <li>
            <a
              href="#pageSubmenu"
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle"
              >View Profile</a
            >
            
            <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                <a href="{% url 'home:customerInfo' %}">Customer</a>
              </li>
              <li>
                <a href="{% url 'home:agentInfo' %}">Agent</a>
              </li>
              <li>
                <a href="{% url 'home:merchantInfo' %}">Merchant</a>
              </li>
              <li>
                <a href="{% url 'home:operatorInfo' %}">Mobile Operator</a>
              </li>
              <li>
                <a href="{% url 'home:serviceInfo' %}">Service Provider</a>
              </li>
            </ul>
          </li>
          <li>
            <a
              href="#addmoneysubmenu"
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle"
              >Add Money</a
            >
            <ul class="collapse list-unstyled" id="addmoneysubmenu">
              <li>
                <a href="#addMoney" data-toggle="modal" data-target="#addMoney">To Agent</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="list-unstyled CTAs">
          <li>
            <a href="{% url 'home:logout' %}" class="download">Logout</a>
          </li>
        </ul>
      </nav>

      <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
          <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fa fa-align-justify"></i>
          </button>
          <a href="" class="navbar-brand"
            ><img
              src="{% static 'home/img/icon.png' %}"
              alt=""
              style="max-width: 50%; max-height: 50%; object-fit: contain"
              class="px-3"
          /></a>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <i
                  class="fas fa-user-secret fa-2x d-inline-block text-right px-2"
                ></i>
              </li>
            </ul>
          </div>
        </nav>

        <div class="modal fade" id="addMoney" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Money To Agent Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="agent_mobile_no">Enter Agent Mobile Number</label>
                    <input type="text" id="agent_mobile_no" name="agent_mobile_no" class="form-control" required>
                    <br>
                    <label for="add_money_amount">Enter Amount</label>
                    <input type="number" id="add_money_amount" name="add_money_amount" class="form-control" min="100" max="10000" required>
                    <br>
                    <input type="submit" class="btn btn-success pb-1" value="Add Money">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        {% if add_money_failed %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Sorry!</strong>Add Money Failed.Please Check For Right Agent Number
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}

        {% if add_money_successful %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Ok! </strong> You have successfully Added Money To Agent Account
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}

        <div class="content-wrapper">
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Customer Approval Section-->
            <div class="card my-4">
              <div class="card-header text-center">
                <i
                  class="fas fa-user-circle fa-2x d-inline-block text-right px-2"
                  style="color: rgb(18, 96, 128)"
                ></i>
                <h5 class="d-inline-block align-middle">
                  Customers Waiting for Approval
                </h5>
              </div>
              <div class="card-body">
                <table class="table table-bordered table-hover text-center">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Customer Name</th>
                      <th scope="col">NID</th>
                      <th scope="col">Mobile No</th>
                      <th scope="col">Approval</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for cust in CUSTOMER %}
                    <tr>
                      <td class="align-middle">{{cust.cust_name}}</td>
                      <td class="align-middle">{{cust.cust_nid}}</td>
                      <td class="align-middle">{{cust.cust_mobile}}</td>
                      <td>
                        <label>Approve</label>
                        <input
                          type="radio"
                          id="approve"
                          name="{{cust.cust_post}}"
                          value="{{cust.cust_val}}"
                        />
                        <br />
                        <label>Reject</label>
                        <input
                          type="radio"
                          id="reject"
                          name="{{cust.cust_post}}"
                          value="-{{cust.cust_val}}"
                        />
                        <!--select
                        name={{cust.cust_post}}
                        id=""
                        class="form-control"
                      >
                        <option
                          value="null"
                          disabled="disabled"
                          selected="selected"
                        >
                          --Choose Option--
                        </option>
                        <option value={{cust.cust_val}}/>Approve</option>
                        <option value=-{{cust.cust_val}}/>Reject</option>
                      </select-->
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

            <!-- Agents Approval Section-->

            <div class="card my-4">
              <div class="card-header text-center">
                <i
                  class="fas fa-user-tie fa-2x d-inline-block text-right px-2"
                  style="color: rgb(235, 50, 17)"
                ></i>
                <h5 class="d-inline-block align-middle">
                  Agents Waiting for Approval
                </h5>
              </div>
              <div class="card-body">
                <table class="table table-bordered table-hover text-center">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Agent Name</th>
                      <th scope="col">NID</th>
                      <th scope="col">Mobile No</th>
                      <th scope="col">Bank Account</th>
                      <th scope="col">Approval</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for agent in AGENT %}
                    <tr>
                      <td class="align-middle">{{agent.agent_name}}</td>
                      <td class="align-middle">{{agent.agent_nid}}</td>
                      <td class="align-middle">{{agent.agent_mobile}}</td>
                      <td class="align-middle">{{agent.agent_bank_ac}}</td>
                      <td>
                        <label>Approve</label>
                        <input
                          type="radio"
                          id="approve"
                          name="{{agent.agent_post}}"
                          value="{{agent.agent_val}}"
                        />
                        <br />
                        <label>Reject</label>
                        <input
                          type="radio"
                          id="reject"
                          name="{{agent.agent_post}}"
                          value="-{{agent.agent_val}}"
                        />
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

            <!-- Merchants Waiting For approval -->

            <div class="card my-4">
              <div class="card-header text-center">
                <i
                  class="fas fa-warehouse fa-2x d-inline-block text-right px-2"
                  style="color: rgba(78, 14, 226, 0.658)"
                ></i>
                <h5 class="d-inline-block align-middle">
                  Merchant Waiting for Approval
                </h5>
              </div>
              <div class="card-body">
                <table class="table table-bordered table-hover text-center">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Merchant Name</th>
                      <th scope="col">Trade License No</th>
                      <th scope="col">Head Office Location</th>
                      <th scope="col">Approval</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for merchant in MERCHANT %}
                    <tr>
                      <td class="align-middle">{{merchant.merchant_name}}</td>
                      <td class="align-middle">{{merchant.trade_license_no}}</td>
                      <td class="align-middle">{{merchant.head_office_loc}}</td>
                      <td>
                        <label>Approve</label>
                        <input
                          type="radio"
                          id="approve"
                          name="{{merchant.merchant_post}}"
                          value="{{merchant.merchant_val}}"
                        />
                        <br />
                        <label>Reject</label>
                        <input
                          type="radio"
                          id="reject"
                          name="{{merchant.merchant_post}}"
                          value="-{{merchant.merchant_val}}"
                        />
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

            <!-- Service Provider Approval Section-->
            <div class="card my-4">
              <div class="card-header text-center">
                <i
                  class="fas fa-lightbulb fa-2x d-inline-block text-right px-2"
                  style="color: rgb(151, 15, 185)"
                ></i>
                <h5 class="d-inline-block align-middle">
                  Utility Service Provider Waiting for Approval
                </h5>
              </div>
              <div class="card-body">
                <table class="table table-bordered table-hover text-center">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Service Photo</th>
                      <th scope="col">Service Name</th>
                      <th scope="col">Service Type</th>
                      <th scope="col">Service Bank AC</th>
                      <th scope="col">Approval</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for service in SERVICE %}
                    <tr>
                      <td class="align-middle">
                        <img
                          src="media\{{service.service_photo}}?lastmod=12345678"
                          alt=""
                          width="50"
                          height="50"
                          style="object-fit: contain"
                          class="mr-3 rounded-circle img-thumbnail shadow-sm"
                        />
                      </td>
                      <td class="align-middle">{{service.service_name}}</td>
                      <td class="align-middle">{{service.service_type}}</td>
                      <td class="align-middle">{{service.service_bank_ac}}</td>
                      <td>
                        <label>Approve</label>
                        <input type="radio" id="approve" name={{service.service_post}} value={{service.service_val}}>
                        <br />
                        <label>Reject</label>
                        <input type="radio" id="reject" name={{service.service_post}} value=-{{service.service_val}}>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <!--Mobile Operator Waiting For approval-->
            <div class="card my-4">
              <div class="card-header text-center">
                <i
                  class="fas fa-mobile-alt fa-2x d-inline-block text-right px-2"
                  style="color: rgb(216, 18, 51)"
                ></i>
                <h5 class="d-inline-block align-middle">
                 Mobile Operator Provider Waiting for Approval
                </h5>
              </div>
              <div class="card-body">
                <table class="table table-bordered table-hover text-center">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Operator Name</th>
                      <th scope="col">Operator Digit</th>
                      <th scope="col">Operator Bank AC</th>
                      <th scope="col">Approval</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for operator in OPERATOR %}
                    <tr>
                      <td class="align-middle">{{operator.operator_name}}</td>
                      <td class="align-middle">{{operator.operator_digit}}</td>
                      <td class="align-middle">{{operator.operator_bank_ac}}</td>
                      <td>
                        <label>Approve</label>
                        <input type="radio" id="approve" name={{operator.operator_post}} value={{operator.operator_val}}>
                        <br />
                        <label>Reject</label>
                        <input type="radio" id="reject" name={{operator.operator_post}} value=-{{operator.operator_val}}>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            
             <!-- Admin Approval Section-->
            <div class="card my-4">
              <div class="card-header text-center">
                <i
                  class="fas fa-user-secret fa-2x d-inline-block text-right px-2"
                  style="color: rgb(138, 151, 16)"
                ></i>
                <h5 class="d-inline-block align-middle">
                  New Admin Waiting for Approval
                </h5>
              </div>
              <div class="card-body">
                <table class="table table-bordered table-hover text-center">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Admin Name</th>
                      <th scope="col">Approval</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for admin in ADMIN %}
                    <tr>
                      <td class="align-middle">{{admin.admin_name}}</td>
                      <td>
                        <label>Approve</label>
                        <input type="radio" id="approve"  name={{admin.admin_post}} value={{admin.admin_val}}>
                        <br />
                        <label>Reject</label>
                        <input type="radio" id="reject"  name={{admin.admin_post}} value=-{{admin.admin_val}}>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>


            <div class="row">
              <div class="col-4"></div>
              <div class="col-4 text-center">
                <input
                  type="submit"
                  name=""
                  id=""
                  class="btn btn-success btn-lg btn-block"
                  value="Approve"
                />
              </div>
              <div class="col-4"></div>
            </div>
          </form>
        </div>
      </div>

            <!-- submit Button -->
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#sidebarCollapse").on("click", function () {
          $("#sidebar").toggleClass("active");
        });
      });
    </script>
    {% endif %}
  </body>
</html>
