<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User_HomePage</title>
</head>
<body>
{% if MOBILE %}
    <img src={{PHOTO}} alt="">
    <ul>
        Mobile No: {{MOBILE}}
        <li><a href="">Profile: {{NAME}}</a></li>
        <li><a href='{% url 'home:logout' %}'>Logout</a></li>
        <li><a href="{% url 'home:updateUser' %}">Update</a></li>
    </ul>

    <div>Send money</div>
    <div>Cash in</div>
    <div>Cash out</div>
    <div>Payment</div>
    <div>My Balance</div>
    <div>Service</div>
    <div>Donate</div>
    <div>Ticket</div>
{% endif %}
</body>
</html>