{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dashboard/reigstration.css' %}">
    <title>Document</title>
</head>
<body>
<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <div class="wrapper">
        <div class="title">Login</div>
        <div class="form">
            <div class="inputfield">
                <label for="mobile_no">Mobile No</label>
                <input type="text" class="input" name="mobile_no" required>
            </div>
            <div class="inputfield">
                <label for="password">Password</label>
                <input type="password" placeholder="Password" class="input" name="password" required>
            </div>
            <div class="submit-btn">
                <input type="submit">
            </div>
            {% if message %}
                <p>Login Successful</p>
            {% else %}
                <p>Try Again</p>
            {% endif %}
        </div>
    </div>
</form>
</body>
</html>