<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/reigstration.css' %}">
    <title>Document</title>
</head>
<body>
<form  action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <div class="wrapper">
        <div class="title">Registration Form</div>
        <div class="form">
            <div class="inputfield">
                <label for="img">Photo</label>
                <input type="file" id="img"accept="image/*" class="input" name="img" required >
            </div>
            <div class="inputfield">
                <label for="username">Name</label>
                <input type="text" class="input" name="username" required>
            </div>
            <div class="inputfield">
                <label for="father_name">Father's Name</label>
                <input type="text" class="input" name="father_name">
            </div>
            <div class="inputfield">
                <label for="mother_name">Mother's Name</label>
                <input type="text" class="input" name="mother_name">
            </div>
            <div class="inputfield">
                <label for="gender">Gender</label>
                <select name="gender" required id="" class="input">
                    <option value="null" disabled="disabled" selected="selected">
                        --Choose Option--
                    </option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="inputfield">
                <label for="dob">Date of Birth</label>
                <input type="date" class="input" name="dob" required>
            </div>
            <div class="inputfield">
                <label for="nid_no">NID no</label>
                <input type="text" class="input" name="nid_no" required>
            </div>
            <div class="inputfield">
                <label for="mobile_no">Mobile No</label>
                <input type="text" class="input" name="mobile_no" required>
            </div>
            <div class="inputfield">
                <label for="password">Password</label>
                <input type="password" placeholder="Password" class="input" name="password" required>
            </div>
            <div class="inputfield">
                <label for="conf_password">Confirm Password</label>
                <input type="password" placeholder="Confirm Password" class="input" name="conf_password" required>
            </div>
            {% if message %}
                <p>This mobile or NID is already used,Try another</p>
            {% endif %}
            <div class="submit-btn">
                <input type="submit">
            </div>
        </div>
    </div>
</form>
</body>
</html>