<html>
<head>
<script>
function submitform()
{
document.getElementById("myForm").submit();
alert("your form submitted");
}
</script>
      <script
        src="https://kit.fontawesome.com/e367819fd5.js"
        crossorigin="anonymous"
      ></script>
<style>
  label {
    display: inline-block;
  }
  label:before {
    content: '';
    width: 30px;
    height: 30px;
    display: inline-block;
  }
  input {
    display: none;
  }
</style>
</head>
<body>
<form method="post" action="#" id="myForm">

<label for="myId">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <i class="far fa-lightbulb"></i>
    <h3>Electricity</h3>
  </div>
</label>
<input onclick="submitform()" type="radio" name="n" id="myId"><br/>
<label for="myId">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <i class="far fa-lightbulb"></i>
    <h3>Electricity</h3>
  </div>
</label>
<input onclick="submitform()" type="radio" name="n" id="myId"><br/>
<label for="myId">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <i class="far fa-lightbulb"></i>
    <h3>Electricity</h3>
  </div>
</label>
<input onclick="submitform()" type="radio" name="n" id="myId"><br/>
<label for="myId">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <i class="far fa-lightbulb"></i>
    <h3>Electricity</h3>
  </div>
</label>
<input onclick="submitform()" type="radio" name="n" id="myId"><br/>
<label for="myId">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <i class="far fa-lightbulb"></i>
    <h3>Electricity</h3>
  </div>
</label>
<input onclick="submitform()" type="radio" name="n" id="myId"><br/>
<label for="myId">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <i class="far fa-lightbulb"></i>
    <h3>Electricity</h3>
  </div>
</label>
<input onclick="submitform()" type="radio" name="n" id="myId"><br/>
<label for="myId">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <i class="far fa-lightbulb"></i>
    <h3>Electricity</h3>
  </div>
</label>
<input onclick="submitform()" type="radio" name="n" id="myId"><br/>

</form>
</body>
</html>
